#!/usr/bin/env python
# -*- coding: utf-8 -*-

misp_url = 'https://<your MISP URL>/'
misp_key = 'Your MISP auth key' # The MISP auth key can be found on the MISP web interface under the automation section
misp_verifycert = True

owm_key = 'Your OpenWeatherMap.org auth key'

freeGeoIP_url = 'http://freegeoip.net/json'

forceLoc = False
## forceLoc = "London,GB" # In case of no location found or you want to simulate a location, you can set it manually here

## This enable more output to debug issues
DEBUG=False
